div.col-md-12
  div.row
    div.alert.alert-warning(ng-show='movieForm.title.$dirty && movieForm.title.$error.required') Title is required!
    div.alert.alert-warning(ng-show='movieForm.url.$dirty && movieForm.url.$error.required') Video id is required!
    div.alert.alert-warning(ng-show='movieForm.url.$dirty && movieForm.url.$error.regexValidate') Wrong youtube id!
    div.alert.alert-warning(ng-show='movieForm.author.$dirty && movieForm.author.$error.required') Author is required!
  form.form-horizontal(name="movieForm",role='form',ng-submit="movieForm.$valid && addMovie()", novalidate)
    div.form-group
      label.control-label(for='title') Title
      input.form-control(id='title', name='title', placeholder='Input Title', type='text', ng-model='movie.title', required)
    div.form-group
      label.control-label(for='link') Youtube id
      input.form-control(id='link', name='url', placeholder='Input id for clip', type='text', ng-model='movie.link', regex-validate='[a-zA-Z0-9_-]{11}', required)
    div.form-group
      label.control-label(for='creator') Author
      input.form-control(id='creator', name='author', placeholder='Input Author', type='text', ng-model='movie.creator', required)
    div.form-group
      label.control-label(for='description') Description
      textarea.form-control(id='description', ng-model='movie.description')
    button.btn.btn-default(type='submit') Submit
