extends layout

block body
  div(ng-controller='LoginCtrl')
    input#name(type='text', ng-model='name')
    button#rl Register/Login
  div(ng-controller='AppCtrl')
    h2 Hello {{name}}
    ul.menu
      li
        a(href='showAll') showAll
      li
        a(href='addNew') addNew

    div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')

